h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
img{
    margin: 25px 50px;
}

#fashion{
    text-align: left;
    
}
#credit{
    text-align: center;
}
